.account {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    padding: 5rem;
}

.options-panel {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    background-color: #d7c699;
    overflow-y: auto;
}

h1 {
    text-decoration: underline;
    font-size: 2rem;
}

.gen-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: inherit;
}

.user-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    justify-content: space-evenly;
    align-items: center;
    background-color: inherit;
}

.profile-picture {
    position: relative;
    transition: 0.3s;
    background-color: inherit;
}

.profile-picture:hover {
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}

.profile-picture:hover #upload-picture {
    opacity: 1;
}

.profile-picture img {
    height: auto;
    width: 250px;
    border-radius: 2rem;
    box-shadow: 5px 5px;
}

.button {
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: #af6938;
    border: 1px solid #888888;
    border-radius: 3px;
    font-size: 16pt;
    color: #dcd6d1;
    cursor: pointer;
    word-wrap: break-word;
}

.button:hover {
    background-color: #db7151;
}

#bio {
    flex-grow: 1;
    height: 200px;
    resize: none;
    overflow-y: auto;
}

.user-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.stats-field {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}

.stats-field label {
    padding: 0.3rem;
    width: 50%;
    text-align: right;
    margin-right: 1rem;
    font-weight: bold;
}

.stats-field div {
    padding: 0.3rem;
    background-color: #bf8f85;
    border-radius: 0.5rem;
    color: #fff;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    width: fit-content;
    background-color: transparent;
    margin-right: 1rem;
}

.sidebar-nav a {
    background-color: #ccc;
    align-self: stretch;
}

.nav-button {
    position: relative;
    background-color: transparent;
    border: 0;
    text-decoration: none;
    padding: 0.5rem;
    font-family: Arial;
    font-size: 14pt;
    align-self: stretch;
    transition: 0.3s;
    color: #000;
}

.nav-button:hover {
    background: #fa6a5e;
    color: #ccc;
}

.nav-button.active {
    pointer-events: none;
    background: #a14746;
    color: #ccc;
}

.nav-button::after {
    content: "";
    background-color: #000;
    width: 0.3rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
}

.nav-button.active::after {
    visibility: visible;
}

.change-password-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: inherit;
}

.change-password-form .field {
    width: 50%;
}

#upload-picture {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.field {
    margin-top: 3rem;
}

@media screen and (max-width: 1200px) {
    .gen-info {
        flex-direction: column;
    }

    .account {
        flex-direction: column;
    }
}
