main {
    padding: 5rem;
}

.friends {
    max-height: 750px;
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 1rem;
    background-color: #d7c699;
    justify-content: space-between;
}

.friends-list {
    overflow-y: auto;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 0 1rem;
    margin: 0.5rem 0;
}

.friends header {
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
    background-color: inherit;
    height: fit-content;
    padding: 0;
}

.friend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.8rem;
    padding: 0.4rem;
    border: 2px solid #aebec0;
    background-color: #81c5ac;
    font-weight: bold;
    text-decoration: none;
    font-size: 13pt;
    color: black;
}

.friend:hover {
    background-color: #aebec0;
}

.friend img {
    width: 4rem;
    height: 4rem;
}

.add-friend {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: inherit;
    align-items: center;
}

.add-friend input {
    width: 100%;
    margin-right: 1rem;
    height: fit-content;
}

.data {
    margin-right: 2rem;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.circle {
    height: 10px;
    width: 10px;
    margin-right: 3px;
    background-color: #15ff04;
    border-radius: 50%;
    display: inline-block;
}

.lobbies {
    max-height: 750px;
    height: 100%;
    width: 75%;
    margin-right: 1%;
    padding: 1rem;
    background-color: #d7c699;
}

.lobbies header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    font-size: 30pt;
    font-weight: bold;
    background-color: inherit;
    height: fit-content;
}

.lobbies header img {
    height: 3rem;
    width: 3rem;
}

.table {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #ffffff;
    height: 540px;
    width: 100%;
    overflow-y: auto;
    border: 2px solid #af6938;
}

.head {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #e8e8e8;
}

.head div {
    width: 25%;
    text-align: center;
    font-weight: bold;
    padding: 1%;
}

.head div:not(:last-child) {
    border-right: 2px solid #ffffff;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 2px solid #888888;
}

.row:hover {
    background-color: #eaa77f;
}

.row div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    text-align: center;
    font-weight: bold;
    padding: 0.5%;
}

.row div:not(:last-child) {
    border-right: 1px thin #ffffff;
}

.table a {
    text-decoration: none;
    color: black;
}

.gameOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0;
    background-color: inherit;
}

.button {
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: #af6938;
    border: 1px solid #888888;
    border-radius: 3px;
    font-size: 16pt;
    color: #dcd6d1;
    cursor: pointer;
    word-wrap: break-word;
    text-decoration: none;
}

.button:hover {
    background-color: #db7151;
}

.gameCode {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: inherit;
    justify-content: center;
}

.gameCode div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
}

.gameCode a {
    width: 40%;
    text-align: center;
}

.king {
    width: 2rem;
    height: 2rem;
}

.createLobby {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fbf5de;
    border: 1px solid black;
    width: 30%;
    padding: 10px;
}

.createLobby header {
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
    background-color: inherit;
}

.createLobby div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    margin: 0 1rem 1rem 1rem;
    width: 100%;
}

select {
    background-color: #ffffff;
    border: 1px solid #b7bdbc;
    padding: 3px;
    width: 8rem;
}

.createLobby button {
    word-wrap: break-word;
    width: 50%;
    max-width: fit-content;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
}

.filter-btns {
    position: relative;
}

.filter {
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 2rem;
    border: 2px solid #000;
    background-color: #fbf5de;
    font-size: 12pt;
    z-index: 99;
}

.starts-with-radio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0;
}

.starts-with-radio .radio {
    margin: 1rem;
}

.starts-with-radio-btns {
    display: flex;
    flex-direction: row;
}

#save-button:hover {
    background-color: #000;
    color: #fff;
}

.filter .field {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.filter .field label {
    margin-bottom: 0.5rem;
}

.field select {
    border-radius: 1rem;
    width: 100%;
}

input[name*="starts-with"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
    cursor: pointer;
}

.radio {
    position: relative;
    pointer-events: all;
    cursor: pointer;
}

.radio label {
    width: 100%;
    height: 100%;
}

.radio.selected {
    background-color: #ccc;
}

.radio:nth-child(2) {
    transform: scale(1.2);
}

#settings {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    main {
        flex-direction: column;
    }

    .button {
        padding: 0.3rem;
    }

    .lobbies {
        width: 70%;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .friends {
        width: 70%;
    }
}

@media screen and (max-width: 700px) {
    main {
        flex-direction: column;
    }

    .button {
        padding: 0.3rem;
    }

    .lobbies {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .friends {
        width: 100%;
    }
}
