body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #808a9f;
    min-height: 100vh;
    margin: 0;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #ffffff;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header img {
    width: 12rem;
    height: 9rem;
}

.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    border-bottom: 1px solid #6c9dff;
    margin-bottom: 2.5rem;
}

a {
    text-decoration: none;
    width: 50%;
}

.options div {
    width: 100%;
    text-align: center;
}

.options a:first-child {
    color: #888888;
}

.options a:last-child {
    font-size: 15pt;
    color: #6c9dff;
    font-weight: bold;
    padding-bottom: 4px;
    border-bottom: 2px solid #6c9dff;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#login-form > *{
    margin-bottom: 1.3rem;
}

input {
    padding: 0.7rem 0.5rem 0.7rem 0.5rem;
    border: 1px solid #888888;
    color: #888888;
    width: 50%;
}

.submit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit button {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    margin-bottom: 2rem;
    background-color: #9bcaff;
    border: 1px solid #888888;
    border-radius: 3px;
    font-size: 13pt;
    color: white;
    cursor: pointer;
    word-wrap: break-word;
}

.submit button:hover {
    background-color: #6d8db3;
}

.submit a {
    width: 100%;
    padding: 3px 10px;
    text-decoration: none;
    font-size: 13pt;
    text-align: center;
    color: #6c9dff;
    border-bottom: 2px solid #6c9dff;
    cursor: pointer;
}